body.show-modal .backdrop {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
  }
  
  body.show-modal .modal {
    transform: scale(1);
  }
  
  .backdrop {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 999;
  
    pointer-events: none;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
  }
  
  /* анімація */
  .open-frame-btn {
    display: block;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
    margin-bottom: 60px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    padding: 18px;
    color: var(--secondary-bg);
    background-color: var(--accent-color);
    font-weight: bold;
    font-size: 18px;
    box-shadow: 4px 4px 5px 0px rgba(98, 113, 255, 0.5);
    overflow: hidden;
  }
  
  .open-frame-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(120deg, rgba(255, 255, 255, 0) 30%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 70%);
  }
  
  @keyframes auto-shine {
    0%, 85% {
      left: -100%;
    }
    100% {
      left: 100%;
    }
  }
  
  .open-frame-btn::before {
    animation: auto-shine 0.8s ease-in-out infinite;
    animation-duration: 3s; 
  }
  
  
  /* fdg */
  
  .modal {
    /* padding: 16px; */
    border-radius: 4px;
    /* max-width: 960px; */
    width: 90vw;
    min-height: 550px;
    background-color: #fff;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
  
    transform: scale(1.1);
    transition: transform 200ms ease-in-out;
  }
  
  .button {
    margin-top: 20px;
  }